In [1]:
import pandas as pd
from connection import connect

In [ ]:
#connection
#SCHEMA='sales'
co_oltp,etl_conn,etl_conn_or=connect()

## Extract

In [ ]:
dim_currency=pd.read_sql('SELECT * FROM sales.currency ORDER BY name ASC;',co_oltp)
dim_currency

## Transform

In [18]:
dim_currency.rename(columns={'currency_code':'currency_alternate_key','name':'currency_name'},inplace=True)

dim_currency.drop(['modified_date'],axis=1,inplace=True)

dim_currency

    currency_alternate_key    currency_name
0                      AFA          Afghani
1                      DZD   Algerian Dinar
2                      ARS   Argentine Peso
3                      AMD    Armenian Dram
4                      AWG   Aruban Guilder
..                     ...              ...
100                    KRW              Won
101                    JPY              Yen
102                    CNY    Yuan Renminbi
103                    ZWD  Zimbabwe Dollar
104                    PLN            Zloty

[105 rows x 2 columns]

## Load

In [20]:
dim_currency.to_sql('dim_currency',etl_conn,if_exists='append',index=False)

105