In [3]:
import pandas as pd
from connection import connect

In [4]:
#connection
SCHEMA='sales'
co_oltp,etl_conn,etl_conn_or=connect(SCHEMA)

['sales_person_quota_history', 'country_region_currency', 'sales_reason', 'credit_card', 'sales_tax_rate', 'currency', 'sales_territory', 'currency_rate', 'sales_territory_history', 'customer', 'shopping_cart_item', 'person_credit_card', 'special_offer', 'special_offer_product', 'sales_order_header_sales_reason', 'sales_order_detail', 'sales_order_header', 'sales_person', 'store']

## Extract

In [5]:
dim_currency=pd.read_sql_table('currency',co_oltp,schema=SCHEMA)
dim_currency

    currency_code                           name             modified_date
0             AED                 Emirati Dirham 2008-04-30 00:00:00+00:00
1             AFA                        Afghani 2008-04-30 00:00:00+00:00
2             ALL                            Lek 2008-04-30 00:00:00+00:00
3             AMD                  Armenian Dram 2008-04-30 00:00:00+00:00
4             ANG  Netherlands Antillian Guilder 2008-04-30 00:00:00+00:00
..            ...                            ...                       ...
100           VEB                        Bolivar 2008-04-30 00:00:00+00:00
101           VND                           Dong 2008-04-30 00:00:00+00:00
102           XOF                CFA Franc BCEAO 2008-04-30 00:00:00+00:00
103           ZAR                           Rand 2008-04-30 00:00:00+00:00
104           ZWD                Zimbabwe Dollar 2008-04-30 00:00:00+00:00

[105 rows x 3 columns]

## Transform

In [ ]:
dim_currency.rename(columns={'currency_code':'currency_alternate_key','name':'currency_name'},inplace=True)

dim_currency.drop(['modified_date'],axis=1,inplace=True)

dim_currency

    currency_alternate_key                  currency_name
0                      AED                 Emirati Dirham
1                      AFA                        Afghani
2                      ALL                            Lek
3                      AMD                  Armenian Dram
4                      ANG  Netherlands Antillian Guilder
..                     ...                            ...
100                    VEB                        Bolivar
101                    VND                           Dong
102                    XOF                CFA Franc BCEAO
103                    ZAR                           Rand
104                    ZWD                Zimbabwe Dollar

[105 rows x 2 columns]

## Load

In [14]:
dim_currency.to_sql('dim_currency',etl_conn,if_exists='append',index=False)

105