In [1]:
import pandas as pd
from connection import connect

In [2]:
#connection
SCHEMA='sales'
co_oltp,etl_conn,etl_conn_or=connect(SCHEMA)

['sales_person_quota_history', 'country_region_currency', 'sales_reason', 'credit_card', 'sales_tax_rate', 'currency', 'sales_territory', 'currency_rate', 'sales_territory_history', 'customer', 'shopping_cart_item', 'person_credit_card', 'special_offer', 'special_offer_product', 'sales_order_header_sales_reason', 'sales_order_detail', 'sales_order_header', 'sales_person', 'store']

## Extract

In [17]:
dim_currency=pd.read_sql('SELECT * FROM sales.currency ORDER BY name ASC;',co_oltp)
dim_currency

    currency_code             name             modified_date
0             AFA          Afghani 2008-04-30 00:00:00+00:00
1             DZD   Algerian Dinar 2008-04-30 00:00:00+00:00
2             ARS   Argentine Peso 2008-04-30 00:00:00+00:00
3             AMD    Armenian Dram 2008-04-30 00:00:00+00:00
4             AWG   Aruban Guilder 2008-04-30 00:00:00+00:00
..            ...              ...                       ...
100           KRW              Won 2008-04-30 00:00:00+00:00
101           JPY              Yen 2008-04-30 00:00:00+00:00
102           CNY    Yuan Renminbi 2008-04-30 00:00:00+00:00
103           ZWD  Zimbabwe Dollar 2008-04-30 00:00:00+00:00
104           PLN            Zloty 2008-04-30 00:00:00+00:00

[105 rows x 3 columns]

## Transform

In [18]:
dim_currency.rename(columns={'currency_code':'currency_alternate_key','name':'currency_name'},inplace=True)

dim_currency.drop(['modified_date'],axis=1,inplace=True)

dim_currency

    currency_alternate_key    currency_name
0                      AFA          Afghani
1                      DZD   Algerian Dinar
2                      ARS   Argentine Peso
3                      AMD    Armenian Dram
4                      AWG   Aruban Guilder
..                     ...              ...
100                    KRW              Won
101                    JPY              Yen
102                    CNY    Yuan Renminbi
103                    ZWD  Zimbabwe Dollar
104                    PLN            Zloty

[105 rows x 2 columns]

## Load

In [20]:
dim_currency.to_sql('dim_currency',etl_conn,if_exists='append',index=False)

105